gf.yh.gs:80 {
    root /home/wwwroot/gf.yh.gs/
    gzip
    fastcgi / php-fpm:9000 php
    log stdout
    errors stderr
}

love.yh.gs:80 {
    root /home/wwwroot/love.yh.gs/
    gzip
    fastcgi / php-fpm:9000 php
    log stdout
    errors stderr
}
